@{
    ViewData["Title"] = "About us";
}
<h2>@ViewData["Title"]</h2>


<address>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br />
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="Marketing@example.com">Marketing@example.com</a>
</address>
